fieldset {
	padding: 0.5em;
	background-color:#fafafa;
	border: none;
}
	
legend {
	margin: 0px -0.5em;
	padding: 0.2em 0.5em;
	background-color:#f0f0f0;
	width: 100%;
}
	
.StatBlock > label {
	display:inline-block;
	width: 6em;		
}

.FormContainer {
	display: inline-block;
	border: none;
	width: 20em;
}

.WideFormContainer {
	border: none;
	width: 100%;
}

.WideFormContainer td {
	text-align: center;
}

.ResultBox {
	font-size: 85%;
	width: 100%;
	padding: 0em;
	margin: 0.5em;
}

.ThemedBox {
	font-size: 85%;
	width: 100%;
	color: #fff;
	background-color: #041658;
	padding: 0.5em;
	margin: 0.5em;
}

.ErrorBox {
	width: 42em;
	margin: 0em;
	padding: 0.25em;
	color: #d00;
	text-align: center;
}

.HoverBox {
	width: 42em;
	margin: 0em 0.7em;
	padding: 0.25em;
	text-align: left;
}

.table.FrameTable {
	padding: 0em;
	margin: 0.5em;
}

td.FullHeightCell {
	background-color:#fafafa;
	vertical-align: top;
	min-width: 20em;
}

.WideButton {
	width: 100%;
}

.RadioList {
	padding: 0em 0.5em;
}

.RadioList input[type=radio],
.RadioWide input[type=radio] {
	display:none; 
}
	
.RadioList input[type=radio] + label {
	display:inline-block;
	width: 100%;
	margin: 0px -0.5em;
	padding: 4px 0.5em;
}
	
.RadioWide input[type=radio] + label {
	display:inline-block;
	width: 1em;
	margin: 0em;
	padding: 4px 0.125em;
	text-align: center;
}

.RadioWide input[type=radio]:hover + label,
.RadioList input[type=radio]:hover + label { 
	background-color:#fff0b0;
}

.RadioWide input[type=radio]:checked + label,
.RadioList input[type=radio]:checked + label { 
	background-color:#f0e0a0;
}

/* F-List BBCode text colors */
.bluefont, .bluefont a {
color:#1E90FF !important;
}
.whitefont, .whitefont a {
color:white !important;
}
.blackfont, .blackfont a{
color:black !important;
}
.redfont , .redfont a {
color:#f44 !important;
text-shadow:#000 0px 1px 2px;
}
.yellowfont, .yellowfont a{
color:yellow !important;
text-shadow:#000 0px 1px 2px;
}
.greenfont, .greenfont a{
color:#4f4 !important;
text-shadow:#000 0px 1px 2px;
}
.pinkfont, .pinkfont a{
color:#FFCBDB !important;
text-shadow:#000 0px 1px 2px;
}
.grayfont, .grayfont a{
color:#D3D3D3 !important;
text-shadow:#000 0px 1px 2px;
}
.orangefont, .orangefont a{
color:orange !important;
text-shadow:#000 0px 1px 2px;
}
.purplefont, .purplefont a{
color:#DD00FF !important;
text-shadow:#000 0px 1px 2px;
}
.brownfont, .brownfont a{
color:#967117 !important;
text-shadow:#000 0px 1px 2px;
}
.cyanfont, .cyanfont a{
color:#00FFFF !important;
text-shadow:#000 0px 1px 2px;
}
